.container {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.overlay {
    height: calc(100% - 80px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--overlay);
    border-radius: 20px;
}

.title {
    font-size: 100px;
    color: var(--white);
}
