.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.image {
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.overlay {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.icon {
    display: none;
    font-size: 25px;
    color: var(--white);
}

.overlay:hover .icon {
    display: flex;
}
