:root {
    --white: #efe7d2;
    --black: #0a0b0a;
    --overlay: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    --sedan: "Sedan", serif;
    --inter: "Inter", sans-serif;
}
