:root {
    --white: #efe7d2;
    --lightGrey: #757370;
    --black: #0a0b0a;
    --grey: #1e1e1e;
    --overlay: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    --sedan: "Sedan", serif;
    --inter: "Inter", sans-serif;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 6px; /* Borde redondeado */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--lightGrey);
}
